nav{
    background-color: black;
    color: white;

}

.nombre{    
    margin-top: 50px;
    margin-left: 150px;
    position: absolute;
    font-size: 150px;
    z-index: +1;
}

@media (max-width: 992px) { 
    .nombre {
        margin-left: 30px;
        margin-top: 80px;
        font-size: 70px;
    }
    
 }

.jersey-20-regular {
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ss{
    font-size: 90px;
    color: white;
}

.colorbarra{
   
    color: rgb(114, 65, 129);
}
.footerIcons {
    color: whitesmoke;
    font-size: 1rem;
  }


/* Animación */

img{
    animation: opacidad 6s 1 ;
}
@keyframes opacidad {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;;
    }
}
.nombre{
    animation: up 4s 1;
}
@keyframes up {
    from{
        transform: translateY(-500px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

.ss{
    animation: libre 5s infinite ;
}
@keyframes libre {
    from{
        transform: translateY(-10px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.h2f:hover{
    transform: scale(1.1);  
}